{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rewears - Comming soon</title>
  <link rel="stylesheet" href="{%  static 'style/commingsoon.css' %}">
</head>

<body>
  <div class=" topmain">
    <div class="circle">
      <img src="{%  static 'images/commingsoon/fb.svg' %}" alt="">
    </div>
    <div class="circle">
      <img src="{%  static 'images/commingsoon/insta.svg' %}" alt="">
    </div>
  </div>
  <div class="logodiv">
    <img src="{%  static 'images/commingsoon/mainLogo.svg' %}" alt="" class="logo">
  </div>


  <div class="headingMain">
    <h2>
      If you're not wearing it, someone else could be
    </h2>
  </div>


  <form method="post" class="getuseremail">
    {% csrf_token %}

    <label>
      Email address
    </label>
    <div class="mailinput">
      {{ form.email }}
      <button type="submit">Notify Me</button>
    </div>
  </form>


  <div class="hero">
    <video autoplay muted loop id="myVideo">
      <source src="{%  static 'assets/index_bg.mov' %}" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
    <button>Comming Soon</button>
  </div>



</body>



</html>